<div class="navbar">
    <a class="logo" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="logo">
        <span>SAKAI</span>
    </a>
    <div class="botones">
        <div class="user-info">
            <p>Nombre de Usuario</p>
            <p>Rol</p>
        </div>
        <button pButton type="button" icon="pi pi-sign-out" (click)="cerrarSesion()" class="p-button-rounded p-button-danger"></button>

    </div>

</div>
